body{
    font-family: Arial, sans-serif;
    min-width: 400px;
}
#input-el {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid rgb(86, 194, 86);
}
button {
    margin-top: 5px;
    background-color: rgb(86, 194, 86);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid rgb(86, 194, 86);
}
#delete-btn {
    background-color: transparent;
    color: rgb(86, 194, 86);
}
ul{
    margin-top: 20px;
    list-style: none;
    padding-left: 0px;
}
li {
    margin-top: 5px;
}
a {
    color:  rgb(86, 194, 86);

}